<ion-header>
    <ion-toolbar>
        <ion-title>Headlines</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <ion-chip
                    color="primary"
                    *ngFor="let category of categories"
                    class="category"
                    (click)="onGetCategoryData(category)"
                >
                    <ion-label>{{category}}</ion-label>
                </ion-chip>
            </ion-col>
        </ion-row>
    </ion-grid>
    <app-articles [news]="news"></app-articles>
</ion-content>
